@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
}


.tag{
  @apply inline-flex items-center rounded-md border px-1.5 text-xs text-[10px] transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 text-foreground;
}


.h1 {
	display: inline-block;
	background-image: linear-gradient(90deg, #7ed56f, #28b485);
	-webkit-background-clip: text;
	color: transparent;
	letter-spacing: 1px;
	transition: all .2s;
}

.border1{
  --tw-border-opacity: 1;
    border-color: rgb(126 34 206/var(--tw-border-opacity));
}
.btn-primary{
 @apply  active:scale-95 inline-flex items-center justify-center rounded-md text-sm font-medium transition-colors focus:outline-none focus:ring-2 focus:ring-slate-400 focus:ring-offset-2 disabled:opacity-50 dark:focus:ring-slate-400 disabled:pointer-events-none dark:focus:ring-offset-slate-900 bg-zinc-900 text-zinc-100 hover:bg-zinc-800 py-2 px-4 ;
}

.navbar{
  position: fixed;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  --tw-bg-opacity: 0.8;
  transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
}

.btn-close:hover{
  rotate: 180%;
}

.text-shadow {
  font-size: 20px;
}

.button {
  align-items: center;
  background-color: #333740;
  background: transparent;
  border: 1px solid #7ed56f;
  border-radius: 0.4rem;
  color: #b1b8ca;
  color: #7ed56f;
  display: flex;
  font-family: Roboto,sans-serif;
  font-size: .9rem;
  font-weight: 500;
  height: 2.5rem;
  justify-content: center;
  padding: 0 0.8rem;
  text-decoration: none;
  text-shadow: #7ed56f 0 3px 5px;
  transition: all .4s cubic-bezier(.25,.46,.45,.94);
  width: 10rem;
}

.button:hover {
  background-color: #fff;
  border: 2px solid #7ed56f;
  box-shadow: 5px 5px 0 #7ed56f;
  color: #7ed56f;
}
.button:active {
  background-color: #7b1798;
  box-shadow: none;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
}




.btn-pro {
  width: 100%;
  display: flex;
  padding: 1rem;
  cursor: pointer;
  gap: 0.4rem;
  font-weight: bold;
  border-radius: 10px;
  text-shadow: 2px 2px 3px rgb(136 0 136 / 50%);
  background: linear-gradient(15deg, #880088, #aa2068, #cc3f47, #de6f3d, #f09f33, #de6f3d, #cc3f47, #aa2068, #880088) no-repeat;
  background-size: 300%;
  color: #fff;
  border: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-position: left center;
  box-shadow: 0 5px 2px -5px rgba(0,0,0,.2);
  transition: background .3s ease;
}

.btn-pro:hover {
  background-size: 320%;
  background-position: right center;
}

.btn-pro:hover svg {
  fill: #fff;
}

.btn-pro svg {
  width: 23px;
  fill: #f09f33;
  transition: .3s ease;
}